package {{package_name}}

import com.atomist.rug.kind.grammar.{AntlrRawFileType, AntlrRawFileTypeTest}
import com.atomist.project.edit.{NoModificationNeeded, SuccessfulModification}
import {{package_name}}.{{class_name}}

class {{class_name}}UsageTest extends AntlrRawFileTypeTest {
  override protected def typeBeingTested: AntlrRawFileType = new {{class_name}}

  import {{class_name}}Test._

  it should "load the HelloProject source" in {
    val r = modify("LoadSource.ts", HelloProjectSource)
    r match {
      case nmn: NoModificationNeeded =>
      case _ => ???
    }
  }
}
